web/uploads/biceps_cur_2_2023_06_23_11_17_14_cut_compressed.mp4
web/uploads/biceps_cur_2_2023_06_23_11_17_14_cut.mp4
web/uploads/biceps_cur_2_2023_06_23_11_17_14_cut.svo
web/uploads/lapockazaras_1_2023_06_23_11_20_36_cut.avi
web/uploads/lapockazaras_1_2023_06_23_11_20_36_cut.svo
web/uploads/lorugas_1_2023_06_23_11_17_59_cut.svo
zedtools/__pycache__/body_keypoints.cpython-311.pyc
zedtools/__pycache__/svo_processor.cpython-311.pyc
zedtools/cv_viewer/__pycache__/tracking_viewer.cpython-311.pyc
zedtools/cv_viewer/__pycache__/utils.cpython-311.pyc
